*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: red;
    color: #fff;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
}
h4{
    font-size: 20px;
    margin: 10px;
}
p{
    color: blue;
}